/* Styles for THSF 2014 */

body {
    background: #000;
    font-size: 14px;
    color: #FFF;
    font-family: monospace;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

a {
    color: #4460a9;
}
pre {
    overflow: inherit;
}

#logo > pre {
  color: #FFFFFF;
  font: 5px/3px monospace;
}

h1 {
    font-size: 2.4em;
    font-weight: normal;
    margin-top: 5px;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.4em;
}

.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: rgba(0,0,0,0.8);
}
.navbar-nav >li  {
    float: left;
}
.section {
    padding-top: 60px;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    #logo >pre {
        margin-left: -40px;
    }
}
@media (min-width: 990px) {
    #logo {
        position: fixed;
        top: 20px;
        margin-left: -100px;
    }
    #logo h1 {
        margin-left: 60px;
    }
}
@media (min-width: 1180px) {
    #logo {
        margin-left: -140px;
    }
}

/* Programm details *
 * ---------------- */

.event {
    position: relative;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-bottom: 0.1em dotted #444;
}
.description {
    padding-left: 100px;
}
.description h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.info-pratique {
    position: absolute;
    width: 90px;
    top: 0.5em;
    padding: 0 15px;
}
.info-pratique span {
    display: block;
}
.horaire {
    font-weight: bold;
}
.lieu {
    font-style: italic;
}
.qui {
    font-weight: bold;
    color: #FF7500;
}
#contact {
    float: left;
}
