/* Styles for THSF 2014 */

body {
    background: #000;
    color: #FFF;
    font-family: monospace;
}

a {
    color: #B0E2B9;
}

#logo {
    float: left;
}

#logo > pre {
  color: #FFFFFF;
  font: 5px/3px monospace;
}

h1 {
    text-align: center;
    margin-left: 150px;
}

#programm {
    float: right;
}

#contact {
    float: left;
}
